* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    color: aliceblue;
}    

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: rgb(37, 36, 36);
}

.header {
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
}

.languages {
    display: flex;
    gap: .5rem;
}

.lbutton {
    background-color: transparent;
    font-size: 1.25rem;
    border: 0;
    cursor: pointer;

}

.section {
    padding-inline: 2rem;
    margin-top: 2rem;
}

.footer {
    background-color: rgb(255, 0, 0);
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
}